.. fuel-specs documentation master file

=====================
Fuel Policy Documents
=====================

.. toctree::
   :glob:
   :maxdepth: 1

   policy/*


===========================
Fuel Project Specifications
===========================

.. toctree::
   :glob:
   :maxdepth: 1

   specs/*
